 
    <main class="main-wrap">
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                </div>
                
                <div>
                    <a href="/admin/addproduct" class="btn btn-primary btn-sm rounded">Add Product</a>
                </div>
            </div>
            <table class="table table-hover" id="myTable">
                <thead>
                    <tr>
    
                        <th>Index</th>
                        <th>       </th>
                        <th>Product Name</th>
                        <th >Price</th>
                        <th >Stock</th>
                        <th >List/Unlist</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < products.length; i++) { %>
                        <tr>
    
                            <td>
                                <%= i+1 %>
                            </td>
                            <td><b>
                                <img src="<%= products[i].image[0]%>" style="width: 60px; height: 60px;" class="img-sm img-thumbnail" alt="Item">
                                </b></td>
                                <td>
                                    <h6 class="mb-0"><%= products[i].product_name.slice(0,10) %>...</h6>
                                </td>
                                <td>
                                    <span>₹ <%= products[i].product_price %></span>
                                </td>
                                <td>
                                    <%= products[i].stock %>
                                </td>
                                <% if (products[i].productstatus) { %> 
                                <td>
                                    <a href="/admin/listproduct/<%=products[i]._id%>"
                                        class="btn btn-sm font-sm rounded btn-danger" style="margin-left: 70px;">
                                        List
                                    </a>
                                </td>
                                <% } else { %>
                                    <td>
                                        <a href="/admin/unlistproduct/<%=products[i]._id%>"
                                            class="btn btn-sm font-sm rounded btn-danger" style="margin-left: 70px;">
                                            Unlist
                                        </a>
                                    </td>
                                <% } %>
                                <td>
                                    <a href="/admin/editproduct/<%=products[i]._id%>" class="btn btn-sm font-sm rounded btn-brand" style="margin-right: 70px;">
                                        <i class="material-icons md-edit"></i> Edit
                                    </a> 
                                </td>
                                        
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </section> <!-- content-main end// -->
    </main>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "paging": true,   // enable pagination
                "ordering": true, // enable sorting
                "searching": true // enable searching
            });
        });
    
    
    </script>
       