<style>
    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tablew {
        width: 100%;
        border-collapse: collapse;
    }
</style>

<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">User List</h2>

            </div>
        </div>
        <table class="table table-hover tablew" id="myTable">
            <thead>
                <tr>

                    <th>Index</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone no</th>
                    <th>Block/Unblock</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0; i < user.length; i++) { %>
                    <tr>

                        <td>
                            <%= i+1 %>
                        </td>
                        <td class="ellipsis"><b>
                                <%= user[i].name.slice(0,7) %>.....
                            </b></td>
                        <td class="ellipsis">
                            <%= user[i].email.slice(0,10) %>.....
                        </td>
                        <td>
                            <%= user[i].phone %>
                        </td>
                        <% if (user[i].isblocked) { %>
                            <td>
                                <a href="/admin/blockuser/<%=user[i]._id%>"
                                    class="btn btn-sm font-sm rounded btn-danger" style="margin-left: 70px;">
                                    Unblock
                                </a>
                            </td>
                            <% } else { %>
                                <td>
                                    <a href="/admin/unblockuser/<%=user[i]._id%>"
                                        class="btn btn-sm font-sm rounded btn-danger" style="margin-left: 70px;">
                                        Block
                                    </a>
                                </td>
                                <% } %>

                    </tr>
                    <% } %>
            </tbody>
        </table>
    </section> <!-- content-main end// -->
</main>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "paging": true,   // enable pagination
            "ordering": true, // enable sorting
            "searching": true // enable searching
        });
    });


</script>