<main class="main-wrap">

    <div class="card mb-4">
        <header class="card-header">
            <button id="download" class=" mt-15 btn btn-primary ">Download Salesreport</button>
            <h4 class="card-title" style=" margin-top: 16px;">Sales Report</h4>
        </header>
        <div class="mr-5" style="width: fit-content; margin-left: 43px; margin-top: 16px;">
        <form method="POST" action="/admin/salesreportfilter">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date"  name="startDate" />
      
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="endDate" />
      
            <button class="btn btn-primary" type="submit">Filter</button>
          </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle table-nowrap mb-0" id="container_content">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Sl. No.</th>
                            <th class="align-middle" scope="col">Date</th>
                            <th class="align-middle" scope="col">Order ID</th>
                            <th class="align-middle" scope="col">User Name</th>
                            <th class="align-middle" scope="col">Coupon discount</th>
                            <th class="align-middle" scope="col">Price</th>
                            <th class="align-middle" scope="col">Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < orders.length; i++) { %>
                        <tr>
                            <td scope="row"><%= i+1 %></td>
                            <td><%= orders[i].date %></td>
                            <td><a class="fw-bold"><%= orders[i]._id %></a> </td>
                            <td><%= orders[i].userDetails[0].name %></td>
                            <td>₹<%= orders[i].discount %></td>
                            <td>₹<%= orders[i].GrandTotal %></td>
                            <td>
                                <i class="material-icons md-payment font-xxl text-muted mr-5"></i>
                                <%= orders[i].paymentMethod %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>

            </div> <!-- table-responsive end// -->
        </div>
    </div>
</main>


<script>
    $(document).ready(function () {
        $('#example').DataTable(
            {
                "paging": true,   // enable pagination
                "ordering": true, // enable sorting
                "searching": true // enable searching
            }
        );
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

<script>
    window.onload = function () {
        document.getElementById('download').addEventListener("click", () => {
            let invoice = this.document.getElementById('container_content')
            console.log(invoice);
            console.log(window);
            html2pdf().from(invoice).save()
        })
    }
    const today = new Date().toISOString().split('T')[0];
            document.getElementById("start-date").setAttribute("max", today);
            const todays = new Date().toISOString().split('T')[0];
            document.getElementById("end-date").setAttribute("max", todays);
</script>