<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



<!-- Header -->
<% if (locals.userHeader) { %>
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="" style="background-color: black; height: 25px;">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar" style="margin-left: 403px;">
                        Free shipping for every orders
                    </div>
                </div>
            </div>
            <div style="background-color:#e6f1f0; position: relative; top: 0;" class="wrap-menu-desktop">
                <nav style="margin-left:25px;" class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <!-- <a href="#" class="logo">
                    <img src="images/icons/logo-01.png" alt="IMG-LOGO">
                </a> -->
                    <h3 href="/">MINIYOX</h3>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul style="margin:100px;" class="main-menu">
                            <li ">
                            <a href=" /">Home</a>
                            </li>

                            <li>
                                <a href="/view-products">Shop</a>
                            </li>

                            <!-- <li>
                                <a href="contact.html">Contact</a>
                            </li> -->

                            <!-- <a href="/login">Login</a> -->

                            </li>
                        </ul>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m"
                        style=" float: right;position: absolute;top: 29px;right: 77px;">
                        <!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div> -->

                        <!-- <a id="cart-count" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart" href="/cart">
                            <i class="zmdi zmdi-shopping-cart"></i>
                            <span class="badge badge-light"
                            ><%=locals.cartcount%></span>
                        </a> -->
                        <a href="/cart"
                            class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                            data-notify="<%= locals.cartcount%>">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </a>

                        <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 "
                            data-notify="">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                        <div class="dropdown ml-2">

                            <a class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                style="font-family: Poppins-Medium; font-size: 14px;">
                                Account
                            </a>
                            <% if (user) { %>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/userprofile/<%=user._id%>">
                                        <%=user.name%>
                                    </a>
                                    <a class="dropdown-item" href="/userorder-list">My Orders</a>
                                    <a class="dropdown-item" href="/logout">logout</a>
                                </div>
                                <% } else { %>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <!-- <a class="dropdown-item" href="#">My Profile</a> -->
                                        <!-- <a class="dropdown-item" href="#">Another action</a> -->
                                        <a class="dropdown-item" href="/login">Login</a>
                                    </div>

                                    <% } %>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

            <!-- Header Mobile -->
        <div class="wrap-header-mobile" style="width:100%;">
            <!-- Logo mobile -->
            <!-- <div class="logo-mobile">
        <a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
    </div> -->
            <h3 href="/">MINIYOX</h3>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m" style="margin-left: auto;">
                <a href="/cart"
                    class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
                    data-notify="<%= locals.cartcount%>">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </a>
                <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 "
                    data-notify="">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
            </div>
            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze" style="margin-right: 50px;">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar" style="text-align: center;">
                        Free shipping for every orders
                    </div>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="/">Home</a>
                    <!-- <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span> -->
                </li>

                <li>
                    <a href="/view-products">shop</a>
                </li>

                <!-- <li>
                    <a href="shoping-cart.html" class="label1 rs1">Cars</a>
                </li>

                <li>
                    <a href="blog.html">Bikes</a>
                </li> -->
                <% if (user) { %>
                    <li>
                        <a href="/userprofile/<%=user._id%>">
                            <%=user.name%>
                        </a>
                    </li>
                    <li>
                        <a href="/userorder-list">My Orders</a>
                    </li>
                    <li>
                        <a href="/logout">logout</a>
                    </li>
                    <% } else { %>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                    <% } %>
            </ul>
        </div>
    </header>
    <% } %>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>