<style>
    .out-of-stock-button {
        background-color: #e74c3c;
        /* Red background color */
        border: none;
        /* Remove default border */
        color: white;
        /* White text */
        padding: 12px 24px;
        /* Add padding */
        /* text-align: center; Center text */
        text-decoration: none;
        /* Remove underline */
        display: inline-block;
        /* Make element inline */
        font-size: 16px;
        /* Set font size */
        border-radius: 5px;
        /* Add rounded corners */
        cursor: not-allowed;
        /* Change cursor to not-allowed */
        opacity: 0.5;
        /* Set opacity to 50% */
    }
</style>
<style>
    .disabled {
        pointer-events: none;
        opacity: 0.5;
        /* optional - to indicate the element is disabled */
    }

    .text-center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
    }

    .icon-heart {
        pointer-events: visible;
    }
</style>
<style>
    .toastify-icon:before {
        content: "\2713";
        font-size: 24px;
        color: #fff;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background-color: #28a745;
    }
</style>
<style>
    .filter-options {
        display: none;
    }

    .filter-options.show {
        display: block;
    }

    .wrap-filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
</style>
<style>
    .otofstock {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 550%);
        background-color: white;
        font-size: large;
    }
</style>

<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52" style="margin-top: 100px;">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    All Products
                </button>
                <% for (var i=0; i < categories.length; i++) { %>
                    <% if (categories[i].categorystatus) { %>
                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
                            data-filter=".<%= categories[i]._id %>">
                            <%= categories[i].category_list %>
                        </button>
                        <% } %>
                            <% } %>

                               
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="filter-container">
                    <div
                        class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                        <i class="bi bi-filter cl2 m-r-6 fs-15 trans-04"></i>
                        <!-- <i class="bi bi-filter"></i> -->
                        <!-- <i class="fa-close-filter cl2 m-r-6 fs-15 trans-04 fa fa-close dis-none"></i> -->
                        Filter
                    </div>
                    <div class="filter-options" id="filter-options">
                    </div>
                </div>
                <form action="/search" method="post" class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" name="search" class="form-control" value="" id="search"
                            placeholder="Product Name.." />
                        <datalist id="search_terms">
                            <% for (var i=0; i < products.length; i++) { %>
                                <option value="<%= products[i].product_name %>">
                                    <%= products[i].product_name %>
                                </option>
                                <% } %>
                        </datalist>
                        <button class="icofont-search cl2 m-r-6 fs-15 trans-04 bi bi-search btn-success"
                            style="width: 90px;" type="submit">
                            Search
                        </button>
                    </div>
                </form>

            </div>



            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="/view-products" class="filter-link stext-106 trans-04">
                                    Default
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/view-products?filter=low" class="filter-link stext-106 trans-04">
                                    Price: Low to High
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/view-products?filter=high" class="filter-link stext-106 trans-04">
                                    Price: High to Low
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Price
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="/view-products" class="filter-link stext-106 trans-04 filter-link">
                                    All
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/view-products?filter=₹0.00 - ₹1000.00" class="filter-link stext-106 trans-04" >
                                    ₹0.00 - ₹1000.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/view-products?filter=₹1000.00 - ₹5000.00"
                                    class="filter-link stext-106 trans-04">
                                    ₹1000.00 - ₹5000.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/view-products?filter=₹5000.00 - ₹15000.00"
                                    class="filter-link stext-106 trans-04">
                                    ₹5000.00 - ₹15000.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/view-products?filter=above15000" class="filter-link stext-106 trans-04">
                                    ₹15000.00+
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row isotope-grid">
            <% if (products.length===0) { %>
                <div class="col-sm-6 col-md-4 col-lg-12 p-b-35 isotope-item  ">
                    <div class="container-fluid mt-100 ">
                        <br><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="card-body cart">
                                        <div class="col-sm-12 empty-cart-cls text-center">
                                            <img src="images/productempty.png" width="150" height="150"
                                                class="img-fluid mb-4 mr-3">
                                            <h3><strong>No products Found...!!!</strong></h3>
                                            <a href="/view-products" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue
                                                shopping</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br><br><br>
                    </div>
                </div>
                <%} else {%>


                    <% for (var i=0; i < products.length; i++) { %>
                        <% if (products[i].productstatus) { %>
                            <div
                                class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%=products[i].product_category%> ">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <% if (products[i].stock===0) { %>
                                            <img src="<%= products[i].image[0]%>" alt="PRODUCT-IMG"
                                                style="max-width: 100%; height: 200px;">

                                            <a href="#"
                                                class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 out-of-stock-button "
                                                style="min-width: 144px;">
                                                Out of Stock
                                            </a>
                                            <%} else {%>
                                                <img src="<%= products[i].image[0]%>" alt="PRODUCT-IMG"
                                                    style="max-width: 100%; height: 200px;">

                                                <a href="/singleproductview/<%= products[i]._id%>"
                                                    class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
                                                    Quick View
                                                </a>
                                                <% } %>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="product-detail.html"
                                                class="stext-104 cl4 hov-cl1 js-name-b2 p-b-6">
                                                <%= products[i].product_name%>
                                            </a>
                                            <p>
                                                <%= products[i].product_description?.slice(0,30)%>
                                            </p>

                                            <span class="stext-105 cl3">
                                                <% if ( products[i].Offer>0 ) { %>
                                                    <del class="mr-2"> ₹ <%=products[i].product_price%> </del>

                                                    <strong> ₹ <%=(products[i].product_price-products[i].Offer)%> </strong>
                                                <% } else { %>
                                                    ₹ <%= products[i].product_price %>
                                                <% }%>
                                            </span>
                                        </div>
                                        <div class="block2-txt-child2 flex-r p-t-3">
                                            <a href="#" data-product="<%= products._id%>" id="add-bt" class="btn-addwish-b2 dis-block pos-relative add-to-wishlist">
                                                <img class="icon-heart1 dis-block trans-04"
                                                    src="/images/icons/icon-heart-01.png" alt="ICON">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                    src="/images/icons/icon-heart-02.png" alt="ICON" data-product="<%= products[i]._id%>">
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                                    <% } %>
        </div>


    </div>
</div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<!-- <script src="vendor/animsition/js/animsition.min.js"></script> -->
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/slick/slick.min.js"></script>
<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="vendor/parallax100/parallax100.js"></script>
<script>
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>

<!--===============================================================================================-->
<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<!-- <script src="vendor/sweetalert/sweetalert.min.js"></script> -->

<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

<script>
    const filterButton = document.getElementById("filter-button");
    const filterOptions = document.getElementById("filter-options");

    filterButton.addEventListener("click", () => {
        filterOptions.classList.toggle("show");
    });
</script>

<
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const addtowishList = async (proId) => {
        try {
            const res = await axios({
                method: "GET",
                url: `/addtowish/${proId}`
            })
            if (res.data.status === "success") {
                swal({
                    title: "Added to Wishlist",
                    text: "This action cannot be undone.",
                    icon: "success"
                })
            }
            else if (res.data.status === "not success") {
                swal({
                    title: "Already exist in your wishlist",
                    text: "This action cannot be undone.",
                    icon: "info"
                })
            }
        }
        catch (err) {
            console.log(err);
        }
    }
    const addToWishlistElements = document.getElementsByClassName('add-to-wishlist');

// Iterate through each element
 Array.from(addToWishlistElements).forEach((element) => {
  element.addEventListener('click', function(event) {
    event.preventDefault();
    addtowishList(event.target.dataset.product);
  });
});



</script>
