<!-- Product Detail -->
<div class="bg0 m-t-30 p-b-140" style="margin-top: 92px;">
    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">

                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                            <div class="slick3 gallery-lb">
                                <div class="item-slick3 " data-thumb="<%= productdetails.image[0]%>">
                                    <div class="wrap-pic-w pos-relative">
                                        <img class="zoomable" src="<%= productdetails.image[0]%>" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="images/product-detail-01.jpg">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="item-slick3 " data-thumb="<%= productdetails.image[1]%>">
                                    <div class="wrap-pic-w pos-relative">
                                        <img class="zoomable" src="<%= productdetails.image[1]%>" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="images/product-detail-02.jpg">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="item-slick3 " data-thumb="<%= productdetails.image[2]%>">
                                    <div class="wrap-pic-w pos-relative">
                                        <img class="zoomable" src="<%= productdetails.image[2]%>" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="images/product-detail-03.jpg">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            <%= productdetails.product_name%>
                        </h4>

                        <span class="mtext-106 cl2">
                            Rs <%= productdetails.product_price%>
                        </span>

                        <p class="stext-102 cl3 p-t-23">
                            <%= productdetails.product_description%>
                        </p>

                        <!--  -->
                        <div class="p-t-33">
                            

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <button id="addTocart" data-product="<%= productdetails._id%>"
                                        onclick="addTocart('<%= productdetails._id%>')"
                                        class="flex-c-m stext-101 cl0 size-101 bg-success bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">Add
                                        to Cart</button>
                                    <div class="block2-txt-child2 flex-r p-t-3 ml-3">
                                        <a href="#" data-product="<%= productdetails._id%>"
                                            class="btn-addwish-b2 dis-block pos-relative add-to-wishlist">
                                            <img class="icon-heart1 dis-block trans-04"
                                                src="/images/icons/icon-heart-01.png" alt="ICON">
                                            <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                src="/images/icons/icon-heart-02.png" alt="ICON"
                                                data-product="<%= productdetails._id%>">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const addtowishList = async (proId) => {
        try {
            const res = await axios({
                method: "GET",
                url: `/addtowish/${proId}`
            })
            if (res.data.status === "success") {
                swal({
                    title: "Added to Wishlist",
                    text: "This action cannot be undone.",
                    icon: "success"
                })
            }
            else if (res.data.status === "not success") {
                swal({
                    title: "Already exist in your wishlist",
                    text: "This action cannot be undone.",
                    icon: "info"
                })
            }
        }
        catch (err) {
            console.log(err);
        }
    }
    document.querySelector('.add-to-wishlist').addEventListener('click', (event) => {
        event.preventDefault();
        addtowishList(event.target.dataset.product);
    });

</script>